<strong>Olá, {{ meetup.User.name }}</strong>
<p>Um novo usuário se inscreveu para o seu Meetup, segue detalhes abaixo:</p>
<p>
  <strong>Meeup: </strong> {{ meetup.title }} <br />
  <strong>Descrição: </strong> {{ meetup.description }} <br />
  <strong>Local: </strong> {{ meetup.localization }} <br />
  <strong>Data: </strong> {{ date }} <br />
  <strong>Usuário inscrito: </strong> {{ user.name }} <br />
  <strong>E-mail: </strong> {{ user.email }} <br />
  <br />
</p>
